<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    
    


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'choice.css' %}">
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <center>
    <div class="container">
      <br><br><br><br><br><br><br><br><br>
      <h1>지역을 선택해주세요</h1>
      <br><br><br><br>
      <table border=0>
        <td>
            <a href="{% url 'site'%}"><button class="btn-4">서울</button></a>
        </td>
        <td>
          <button class="btn-4">지역2</button>
        </td>
        <td>
          <button class="btn-4">지역3</button>
        </td>
        <td>
          <button class="btn-4">지역4</button>
        </td>
      </table>
      <br><br>
      <table border=0>
        <td>
          <button class="btn-4">지역5</button>
        </td>
        <td>
          <button class="btn-4">지역6</button>
        </td>
        <td>
          <button class="btn-4">지역7</button>
        </td>
        <td>
          <button class="btn-4">지역8</button>
        </td>
      </table>
    </div>
  </center>
</body>

</html>