<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- 부가적인 테마 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=9fnpemqt72"></script>


<link rel="stylesheet" href="{% static 'styles_guide.css' %}">
</head>

<!-- 합쳐지고 최소화된 최신 CSS -->

</style>
</head>
<body>
    <div class="nav1">
        <a href="{% url 'choice'%}"><p class="title" >locally</p></a><a href="{% url 'site'%}"><p class="title">서울</p></a> 
        <a href="{% url 'login'%}" class="title2"><p>로그인</p></a> <a href="register"  class="title2"><p>회원가입</p></a> 
    </div>
    <div class="nav2">
            <a href="{% url 'schedule'%}" class="title3"> 일정</a>
            <a href="{% url 'wish'%}" class="title3">바란다</a>
            <a href="{% url 'market'%}" class="title3">장터</a>
            <a href="{% url 'job'%}" class="title3">취업</a>
            <a href="{% url 'guide'%}" class="title3">이용안내</a>
    </div>
    <div class="wrap">
            <a href="#" class="button">10대</a>
            <a href="#" class="button">20대</a>
            <a href="#" class="button">30대</a>
            <a href="#" class="button">40대</a>
            <a href="#" class="button">50대</a>
    </div>
    
<center>
<img src="{% static 'img/Locally.PNG' %}" float="center" width="1455">
    <br>
<img src="{% static 'img/Locally-rule.PNG' %} " float="center" width="1455">
    </center>
</body>
</html>