{% load staticfiles %}
<head>


<link rel="stylesheet" href="{% static 'styles_home.css' %}">
</head>

    <style>
         
   
  
</style>
</head>
<body>
    <div class="bg-text">
        <h1>Locally</h1>
        <p>가까이에, 근처에</p>
    </div>
    <div id="backgroundImage">
    <div class="main">   
    </div>
    </div>
    <div class="choice">
    <a href="{% url 'choice'%}"><button style="font-size:20px;" type="button"onclick="location.href=''" class="btn-1">Click me !</button></a>
    </div>
</body>