<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"crossorigin="anonymous">
<style>
    .myButton {
	    background-color:#3379b7;
	    display:inline-block;
	    cursor:pointer;
	    color:#ffffff;
	    font-family:Arial;
	    font-size:13px;
	    padding:12px 22px;
	    text-decoration:none;
        float: right;
        margin:10px;
    }
    .myButton:hover {
    	background-color:#185f9e;
        color:#ffffff;
    }
    .myButton:active {
    	position:relative;
        top:1px;
    }
    p {
        font-size:30px; 
        color:#337ab7;
    }
</style>
</head>
<body>
    <br><br><br>
    <div class="container">
            <blockquote>
                <p>시민의견</p>
                <h5 class="text-right">
                    🏠Home
                    <span>&gt;</span>바란다
                    <span>&gt;</span>시민의견
                </h5>
            </blockquote>
            <br><hr><br>
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h1>{{ wish.title }}</h1><br>
                    <h5>
                        <span></span>작성자:
                        <span>&nbsp;</span> 작성날짜: {{ wish.pub_date }}
                        <span>&nbsp;</span> 조회수: 
                    </h5>
                </div>
                <div class="card-body">
                    <h2>{{ wish.body }}</h2>
                </div>
            </div>
            <a href="{% url 'wishdelete' wish.id %}" class="myButton">삭제</a>
            <a href="{% url 'wishupdate' wish.id %}" class="myButton">수정</a>
            <a href="{% url 'wish' %}" class="myButton">목록</a>
            <br><br><br><br><br>
            <p>댓글 {{wish.comments.count}} 개</p></p>
            <hr>
            <form action="{% url 'comment_write' pk=wish.pk %}" method="POST">
                {% csrf_token %}
                <input style="height:100px; width:1000px; font-size:20px;"type="text" name="comment_contents" placeholder="댓글을 입력해 주세요.">
                <input class="myButton" type="submit" value="등록">
            </form>
            <br><br>
            {% for comment in wish.comments.all %}
            <div class="comment">
                <h2>{{ comment.comment_contents }}</h2>
                <h5>{{ comment.create_date }}</h5>
                <hr>
            </div>
            {% endfor %} 
    </div>
</body>
</html>